<div v-cloak class="box1">
    <div class="row">
        <!-- column -->
        <div class="col-sm-4 col-md-3">
            <div id="cnt-list">
                <div class="input-group">
                    <span class="input-group-addon no-border no-bg"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control no-border no-bg"
                           placeholder="Search All Contacts"
                           v-model="query">
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="list"
                             v-for="item in customers | filterBy query in 'full_name' "
                             :class="{'active': item.selected }" style="cursor: pointer">
                            <div class="list-item pointer"
                                 v-on:click="selectItem(item)">
                                <div class="list-left pull-left" style="margin-right: 10px; padding-left: 8px">
                                                <span class="w-40 avatar">
                                                  <img :src="item.avatar" class="img-circle" width="40px">
                                                </span>
                                </div>
                                <div class="list-body">
                                    <h5 class="contact-name">{{ item.full_name }}</h5>
                                    <small class="block text-muted">
                                        <i class="fa fa-phone"></i>
                                        {{item.phone_number}}
                                    </small>
                                    <small class="block text-muted">
                                        <i class="fa fa-building-o"></i>
                                        {{item.company}}
                                    </small>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /column -->

        <!-- column -->
        <div class="col-sm-6 col-md-9">
            <div class="row">
                <div class="col-lg-12">
                    <div id="cnt-list-details">
                        <div class="row" v-if="can_write">
                            <div class="col-md-12">
                                <a href="{{ url }}create" class="btn btn-default">
                                    <i class="fa fa-plus fa-fw"></i> New Contact
                                </a>

                                <a href="{{url}}import" class="btn btn-default">
                                    <i class="fa fa-plus fa-fw"></i> Import Contacts
                                </a>
                            </div>
                        </div>
                        <div v-if="item">


                            <div style="margin: 10px 0">
                                <div>
                                    <a class="btn btn-sm btn-danger pull-right"
                                       v-on:click="deleteItem(item)"  v-if="can_delete">
                                        <i class="fa fa-times"></i></a>
                                    <a class="btn btn-sm btn-primary" v-if="can_write"
                                       v-show="!item.editing"
                                       v-on:click="editItem(item)">Edit</a>
                                    <a class="btn btn-sm btn-primary" v-show="item.editing"
                                       v-on:click="doneEditing(item)">Done</a>
                                </div>
                                <div class="errors alert alert-danger" v-if="errors">
                                    <ul>
                                        <li v-for="key in errors">
                                            {{ key }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div style="padding: 30px 0;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="avatar">
                                            <img :src="item.avatar" v-show="item.avatar" class="img-circle"
                                                 width="120px">
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div v-show="!item.editing"><h3>{{item.first_name}} {{ item.last_name }}</h3>
                                        </div>
                                        <div v-show="item.editing" class="p-l-xs">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="First"
                                                           class="form-control"
                                                           v-model="item.first_name">
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="Last"
                                                           class="form-control"
                                                           v-model="item.last_name">
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- fields -->
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 form-control-label">Email</label>

                                            <div class="col-sm-9">
                                                <div class="form-group"
                                                     v-show="!item.editing">{{item.email}}
                                                </div>
                                                <input type="text"
                                                       class="form-control"
                                                       v-show="item.editing"
                                                       v-model="item.email">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 form-control-label">Phone</label>

                                            <div class="col-sm-9">
                                                <div class="form-group"
                                                     v-show="!item.editing">{{item.phone_number}}
                                                </div>
                                                <input type="text"
                                                       class="form-control"
                                                       v-show="item.editing"
                                                       v-model="item.phone_number">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 form-control-label">Mobile</label>

                                            <div class="col-sm-9">
                                                <div class="form-group"
                                                     v-show="!item.editing">{{item.mobile}}
                                                </div>
                                                <input type="text"
                                                       class="form-control"
                                                       v-show="item.editing"
                                                       v-model="item.mobile">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 form-control-label">Fax</label>

                                            <div class="col-sm-9">
                                                <div class="form-group"
                                                     v-show="!item.editing">{{item.fax}}
                                                </div>
                                                <input type="text" class="form-control" v-show="item.editing"
                                                       v-model="item.fax">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 form-control-label">Website</label>

                                            <div class="col-sm-9">
                                                <div class="form-group"
                                                     v-show="!item.editing">
                                                        <a href="{{item.website}}" target="_blank">{{item.website}}</a>
                                                </div>
                                                <input type="text" class="form-control" v-show="item.editing"
                                                       v-model="item.website">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 form-control-label">Company</label>

                                            <div class="col-sm-9">
                                                <div class="form-group"
                                                     v-show="!item.editing">{{item.company}}
                                                </div>

                                                <div v-if="item.editing" v-cloak>
                                                    <select class="form-control" style="width: 100%"
                                                            v-select="item.company_id"
                                                            :options="companies"
                                                            data-placeholder="Select Company">
                                                        <option value="">Default</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3  form-control-label">Sales Team</label>

                                            <div class="col-sm-9">
                                                <div class="form-group"
                                                     v-show="!item.editing">{{item.salesteam}} - {{item.sales_team_id}}
                                                </div>

                                                <div v-if="item.editing">
                                                    <select class="form-control" style="width: 100%"
                                                            v-select="item.sales_team_id"
                                                            :options="salesTeams"
                                                            data-placeholder="Select Sales Team">
                                                        <option value="">Default</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3  form-control-label">Title</label>

                                            <div class="col-sm-9">
                                                <div class="form-group"
                                                     v-show="!item.editing">{{item.title}}
                                                </div>

                                                <div v-if="item.editing">
                                                    <select class="form-control" style="width: 100%"
                                                            v-select="item.title"
                                                            :options="titles"
                                                            data-placeholder="Select Title">
                                                        <option value="" disabled="disabled">Default</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3  form-control-label">Address</label>

                                            <div class="col-sm-9">
                                                <div class="form-group"
                                                     v-show="!item.editing">{{item.address}}
                                                </div>
                                        <textarea class="form-control" v-show="item.editing"
                                                  v-model="item.address" rows="5"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- / fields -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /column -->
    </div>
</div>

<div class="modal fade" id="importModal">
    <div class="modal-dialog">
        <form class="form-horizontal" @submit.prevent="uploadFile">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Contact Import</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">File</label>

                        <div class="col-sm-10">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-preview thumbnail" data-trigger="fileinput"
                                     style="width: 200px; height: 150px;"></div>
                                <div>
                                    <span class="btn btn-default btn-file"><span
                                            class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input
                                            type="file" name="file"></span>
                                    <a href="#" class="btn btn-default fileinput-exists"
                                       data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <a href="{{ url }}download-template" class="btn btn-default">Download Template</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </form>
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
