<section class="message">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <a v-link="{ path: 'compose' }" role="button" class="btn btn-info btn-sm btn-block">COMPOSE</a>

            <div class="panel">
                <div class="panel-body pan">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a v-link="{ path: '/m/inbox' }">
                                <span class="badge pull-right" v-if="email_count > 0">{{ email_count }}</span>
                                <i class="fa fa-inbox fa-fw mrs"></i>
                                Inbox
                            </a>
                        </li>

                        <li>
                            <a v-link="{ path: '/m/sent' }">
                                <!--<span class="badge pull-right">{{ sent_email_count }}</span>-->
                                <i class="fa fa-plane fa-fw mrs"></i>
                                Sent Mail
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="panel">
                <div class="panel-body pan">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active" v-if="online">
                            Online
                        </li>
                        <li>
                            <div v-if="!online">
                                No Online Users
                            </div>
                        </li>
                        <li v-for="user in users_list | filterBy '1' in 'active'">
                            <a href="#" @click.prevent="">
                                <i class="fa fa-circle text-success pull-right"></i>
                                {{ user.full_name }}
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <router-view></router-view>
        </div>
    </div>

</section>